* {
    background-color: lightblue;
}

navbar, navbar *{
    background-color: lightskyblue;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0.5em;
    display: block;
}

navbar a{
    text-decoration: none;
    display: inline-block;
    color: black;
    font-size: 18px;
    font-weight: bold;
    border-right: 1px solid black;
}
navbar a:hover{
    background-color: darkblue;
    color: white;
}

form input, form label, form h2{
    margin: 0.5em;
}

table {
    border: solid black 2px; width: 100%; text-align: center
}