* {
    background-color: lightskyblue;
}

navbar, navbar *{
    background-color: lightblue;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0.5em;
    display: block;
}

navbar a{
    text-decoration: none;
    display: inline-block;
    color: black;
    font-size: 18px;
    font-weight: bold;
}
navbar a:hover{
    background-color: darkblue;
    color: white;
}

input {
    margin: 0.5em;
}