<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title>Checkout</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    </head>
    <body>
        <h1 style="margin: 50px">Purchased</h1>

        <div style="margin: 50px">
            Should just display a text of you have puchased, and how much money
            you spent
        </div>

        <button style="margin: 50px">back to main page</button>
    </body>
</html>
