<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Amazin</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>

<h1 >Amazin Book Shop (Milestone 2):</h1>

<body>
    <navbar>
        <a th:href="@{/VendorLogin}">Vender Login</a>
        <a th:href="@{/CustomerLogin}">Customer Login</a>
        <a th:href="@{/SignUp}">Customer Sign Up</a>
    </navbar>
</body>
</html>