<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Amazin</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>

<h1 style="margin: 50px">Amazin Book Store</h1>
<navbar>
    <a th:href="@{/CustomerLogin}">Customer Login</a>
    <a th:href="@{/VendorLogin}">Vendor Login</a>
    <a th:href="@{/SignUp}">Sign Up</a>
</navbar>
    <div style="margin: 50px">Welcome to our bookstore, pick an option from the navbar above to start your bookish adventures!</div>
    <div style="margin: 50px">We hope you enjoy your stay!</div>
    <div style="margin: 50px">Built with ♡ from the Amazin bookstore team (Group 27 SYSC 4806)</div>
</body>
</html>