<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Book</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Book</h1>
<h1>Book Information Here:</h1>
<!--<p th:text="'Book Information Here: ' + ${book} + '!'" />-->

<h2>Query for Book</h2>
<form action="#" 
        th:action="@{/book}" 
        th:object="${bookId}" 
        method="get">
    <label for="ISBN">Book ISBN</label><br>
    <input type="text" id="ISBN" 
        name="ISBN" value="978-0-123456-47-2" th:field="*{isbn}"/>
    <br/>
    <label for="version">version number</label><br>
    <input type="text" id="version" 
        name="version" value="1" th:field="*{version}"/>
    <p>
        <input type="submit" 
            value="Submit" /> 
        <input type="reset" 
            value="Reset" />
    </p>
</form>


<h1>Book Information</h1>
<p th:each="book: ${bookRepo}">
    Book ISBN: <b><span th:text="${book.isbn}"/></b>
    Book Name: <b><span th:text="${book.name}"/></b>
    <button onclick="addToCart('${book.isbn}')">Add to cart</button>
</p>

<script>
    async function addToCart(isbn) {
        const data = {
            isbn: isbn
            // Add any other data you want to send to the server
        };

        try {
            const response = await fetch('path/to/your/servlet', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            });

            if (response.ok) {
                console.log('Data submitted successfully');
            } else {
                console.error('Error submitting data');}}
    catch(Exception){
            console.log(Exception)
    }
    }
</script>
</body>
</html>