<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Login</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>

        <h2 style="margin: 50px">Customer Login</h2>
        <form action="#" 
                th:action="@{/login}" 
                method="get">
            <label for="userName"> Username </label>
            <input type="text" id="userName" 
                name="userName" value="customer1"/>
            <input type="submit" value="Submit" />
        </form>
        
        <!-- Vendor Login -->
        <h2 style="margin: 50px">Vendor Login</h2>
        <form action="#" 
                th:action="@{/login}" 
                method="get">
            <label for="userName"> Username </label>
            <input type="text" id="userName" 
                name="userName" value="vendor1"/>
            <input type="submit" value="Submit" />
        </form>
        
    </form>
    </body>
</html>
