<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Purchased Books</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<h1>Purchased Books</h1><br>
<div>

    <navbar>
        <a th:href="@{/Shop}">Shop</a>
        <a th:href="@{/ShoppingCart}">My Cart</a>
        <a th:href="@{/PurchasedBooks}">Purchased Books</a>
        <a th:href="@{/CustomerLogout}">Log Out</a>
    </navbar>

    <p th:text="${account.userName}+' on this page you will see your previous purchased books!'"></p><br>

    <div>
        <p style="" th:text="${emptyBooks}"></p>
        <table>
            <tbody>
            <thead>
            <th>ISBN</th>
            <th>Version</th>
            <th>Name</th>
            <th>Publisher</th>
            <th>Author</th>
            <th>Price</th>
            <th>Description</th>
            </thead>
            <tr th:each="book: ${books}">
                <td th:text="${book.isbn}" />
                <td th:text="${book.version}" />
                <td th:text="${book.name}" />
                <td th:text="${book.publisher}" />
                <td th:text="${book.author}" />
                <td th:text="${book.price}" />
                <td th:text="${book.description}" />
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>
