<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title>Shop</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    </head>
    <body>
        <h1>Shop</h1><br>
        <p th:text="'Welcome '+${account.userName}+' to the Shop!'"></p><br>
        <div>

            <form action="" method="post" th:object="${search}">
                <h2>Search Books:</h2><br />

                <label for="filter">Search By:</label>
                <select name="filter" id="filter">
                    <option value="by-name">By Name</option>
                    <option value="by-publisher">By Publisher</option>
                </select> <br />

                <label for="search">Search For:</label>
                <input type="text" id="search" name="search" value="" /><br />
                <input type="submit" value="Search Book" name="SearchBook"/><br />
                <input type="submit" value="View All Books" name="AllBooks"/>
            </form>

            <div>
                <p style="color: red" th:text="${searchError}"></p>
                <table>
                    <tbody>
                        <thead>
                            <th>ISBN</th>
                            <th>Version</th>
                            <th>Name</th>
                            <th>Publisher</th>
                            <th>Price</th>
                            <th>Stock</th>
                            <th>Description</th>
                        </thead>
                        <tr th:each="book: ${books}">
                            <td th:text="${book.isbn}" />
                            <td th:text="${book.version}" />
                            <td th:text="${book.name}" />
                            <td th:text="${book.publisher}" />
                            <td th:text="${book.price}" />
                            <td th:text="${book.stock}" />
                            <td th:text="${book.description}" />
                            <td>
                                <button type="button" th:attr="onclick='incrementQuantity(\'' + ${book.stock}+ '\'' + ',' + '\'' + ${book.isbn}+ '\');'" >+</button>
                                <label>
                                    <input type="number" th:id="${book.isbn}" name="quantity" th:value = "0" min="0" th:attr="max=${book.stock}" readonly>
                                </label>
                                <button type="button" th:attr="onclick='decrementQuantity(\'' + ${book.isbn}+  '\');'">-</button>
                                <script type="text/javascript">
                                    function incrementQuantity(maxValue, elementId){
                                        let currentValue = document.getElementById(elementId).value;
                                        if (currentValue < maxValue){
                                            document.getElementById(elementId).value++;
                                        }
                                    }

                                    function decrementQuantity(elementId){
                                        let currentValue = document.getElementById(elementId).value;
                                        if (currentValue > 0){
                                            document.getElementById(elementId).value--;
                                        }
                                    }

                                </script>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--<p style="color: red" th:text="${account.cart}"></p><!-->
        
        <div style="margin: 50px">
            <button 
                    method="post" 
                    th:action="@{/Checkout}"
                    modelAttribute="cart" 
                    th:object="${account.getCart()}">
                Purchase
            </button>
        </div> 
    </body>
</html>
