<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title>Shop</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    </head>
    <body>
        <h1>Shop</h1><br>

        <navbar>
            <a th:href="@{/Shop}">Shop</a>
            <a th:href="@{/ShoppingCart}">My Cart</a>
            <a th:href="@{/PurchasedBooks}">Purchased Books</a>
            <a th:href="@{/CustomerLogout}">Log Out</a>
        </navbar>

        <p th:text="'Welcome '+${account.userName}+' to the Shop!'"></p><br>
        <div>

            <form action="" method="post" th:object="${search}">
                <h2>Search Books:</h2><br />

                <label for="filter">Search By:</label>
                <select name="filter" id="filter">
                    <option value="by-name">By Name</option>
                    <option value="by-publisher">By Publisher</option>
                </select> <br />

                <label for="search">Search For:</label>
                <input type="text" id="search" name="search" value="" /><br />
                <input type="submit" value="Search Book" name="SearchBook"/><br />
                <input type="submit" value="View All Books" name="AllBooks"/>
            </form>

            <div>
                <p style="color: red" th:text="${searchError}"></p>
                <table>
                    <tbody>
                        <thead>
                            <th>ISBN</th>
                            <th>Version</th>
                            <th>Name</th>
                            <th>Publisher</th>
                            <th>Price</th>
                            <th>Stock</th>
                            <th>Description</th>
                            <th>Recommended</th>
                        </thead>
                        <tr th:each="book: ${books}">
                            <td th:text="${book.isbn}" />
                            <td th:text="${book.version}" />
                            <td th:text="${book.name}" />
                            <td th:text="${book.publisher}" />
                            <td th:text="${book.price}" />
                            <td th:text="${book.stock}" />
                            <td th:text="${book.description}" />

                            <!-- Show Yes if book recommened is true, else show nothing-->
                            <td th:if="${book.recommended}">Yes</td>
                            <td th:if="${!book.recommended}"></td>

                            <td>
                                <form
                                        method="post"
                                        action=""
                                        th:object="${account}">
                                    <input type="hidden" name="isbn" th:value="${book.isbn}">
                                    <input type="hidden" name="version" th:value="${book.version}">
                                    <input type="submit" name="buyBook" value="Buy Book">
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </body>
</html>
