<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title>Login</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    </head>
    <body>
        <div>
            <h2>Sign Up</h2>
            <form method="post" action="" th:object="${newAccount}">
                <label>
                    Username:
                    <input
                        type="text"
                        placeholder="Enter username"
                        name="username" />
                </label>
                <br />
                <label>
                    Password:
                    <input
                        type="text"
                        placeholder="Enter password"
                        name="password" />
                </label><br />
                <label>
                    Is this a Vendor Account? :
                    <input type="checkbox" name="type" value="Vendor"/>
                </label><br />
                <p style="color: red" th:text="${signUpError}"></p>
                <input type="submit" value="SignUp" name="SignUp" />
            </form>
        </div>

        <div>
            <p>
                Already have an account? Login here:
                <a th:href="@{/CustomerLogin}">Login</a>
            </p>
        </div>
    </body>
</html>
